<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% stylesheets '@bootstrap' %}
    		<link rel="stylesheet" href="{{ asset_url }}" />
		{% endstylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% javascripts
    		'@jquery2'
     	 %}
   			 <script src="{{ asset_url }}"></script>
		{% endjavascripts %}
		    <script>
    $( document ).ready(function() {
    	$.post({{path('user_bundle_routing')}},{
            formName:$("#name_id").val(),
            other:"attributes"
        },function(data){
            //the response is in the data variable
    
             if(data.responseCode==200 ){           
                 $('#output').html(data.greeting);
                 $('#output').css("color","red");
             }
            else if(data.responseCode==400){//bad request
                $('#output').html(data.greeting);
                $('#output').css("color","red");
            }
            else{
               //if we got to this point we know that the controller
               //did not return a json_encoded array. We can assume that           
               //an unexpected PHP error occured
               alert("An unexpeded error occured.");

               //if you want to print the error:
               $('#output').html(data);
            }
        });
    }) 
    </script> 
    </body>
</html>
