<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% stylesheets '@bootstrap' %}
    		<link rel="stylesheet" href="{{ asset_url }}" />
		{% endstylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% javascripts
    		'@jquery2'
     	 %}
   			 <script src="{{ asset_url }}"></script>
		{% endjavascripts %}
		    <script>
    $( document ).ready(function() {
        
    	$.post('{{path('user_bundle_routing')}}',{
            getUsers:1
        },function(data){
            //the response is in the data variable

               //if you want to print the error:
               $('#output').html(data);
            
        });
    }) 
    </script> 
    </body>
</html>
