<form action="{{ path('new_user_routing') }}" id="new_list" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
<button type="submit" id="lists_save" name="lists[save]" class="btn btn-success">Add List</button>
</form>
		    <script>
		           $('#lists_save').addClass("btn btn-success");
		           $('#lists_name').addClass("form-control");
		           $('#user_Lists').addClass("form-control");

		           
          </script>   