<form action="{{ path('new_user_routing') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

</form>
		    <script>
		           $('#user_save').addClass("btn btn-succes");
          </script>   